<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MusicImportKit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MusicImportKit.Properties.Settings>
            <setting name="DefaultInput" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultTemp" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultParse" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultRG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultSpecificFiletypes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultFolderOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AADLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="FLACLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="MetaFLACLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Mp3tagLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SoXLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SpekLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSpecificFiletypeText" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultConvertType" serializeAs="String">
                <value>FLAC</value>
            </setting>
            <setting name="DefaultDeleteTemp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultRedacted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultRenameLogCue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultStripImageMetadata" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExifToolLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LAMELocation" serializeAs="String">
                <value />
            </setting>
            <setting name="OpusLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultAutoWAVConvert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExcelSheetLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultExcelExport" serializeAs="String">
                <value>False</value>
            </setting>
        </MusicImportKit.Properties.Settings>
    </userSettings>
</configuration>